<div class="container">

  <h1>Enter your text to encrypt</h1>
  <form action="/encrypt">
    <textarea class='form-control' rows='3' name='text'></textarea>
    <input type="submit" name="submit" class="btn btn-primary btn-lg">
  </form>

</div>


<div class="container">

  <h1>Enter your text to decrypt</h1>
  <form action="/decrypt">
    <textarea class='form-control' rows='3' name='text'></textarea>
    <input type="submit" name="submit" class="btn btn-primary btn-lg">
  </form>

</div>